{% extends 'news/base.html' %}
{% load static %}

{% block titlt %} Parolni tiklash {% endblock %}

{% block content %}
    <h1>Parolni tiklash</h1>
    <p>Parolni o'zgartirish uchun quyidagi formani to'diring</p>
    {% if validlink %}
        <p>Yangi parolni ikki marotaba kiriting</p>
        <form method="post">{% csrf_token %}
            {{ form.as_p }}
        <p><button type="submit"Parolni almashtirish</button></p>

        </form>
    {% else %}
        <p>Siz noto'g'ri parol kiritdingiz</p>

    {% endif %}


{% endblock %}