{% extends 'news/base.html' %}
{% load static %}

{% block title %} Mahalliy yangiliklar {% endblock %}

{% block content %}
<div class="fashion_technology_area">
    <div class="fashion">
      <div class="single_post_content">
        <h2><span>Mahalliy</span></h2>

        <ul class="spost_nav">
        {% for mahalliy in mahalliy_yangiliklar %}
          <li>
            <div class="media wow fadeInDown"> <a href="{{ mahalliy.get_absolute_url }}" class="media-left"> <img alt="" src="{{ mahalliy.image.url }} "> </a>
              <div class="media-body"> <a href="{{ mahalliy.get_absolute_url }}" class="catg_title">{{ mahalliy.title }}</a> </div>
            </div>
          </li>
        {% endfor %}
        </ul>
      </div>
    </div>
</div>
{% endblock %}